@(nombre: String)
<html>
Cordial Saludo Sr(a) <h1>@nombre</h1>, 
<br>
Análisis preliminar no viabiliza solicitud presentada, si lo desea puede comunicarse directamente con nuestras oficinas.
<br>
Sede Bucaramanga
<br>
Carrera 20-36-06 Ofc. 405
Edificio Sagrada Familia
Bucaramanga - Santander
Teléfono 3162854212
<br>
Sede Floridablanca
<br>
Carrera 8-43-03
Lagos II
Floridablanca - Santander
Teléfono 3173836208
<br>
Sede Girón
<br>
Calle 26 22- 65
Villa Campestre
Girón - Santander
Teléfono 3245899421 - 6076087922
</html>